doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css" )
    body 
        header 
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    
                    if loggedIn 
                        li
                            a(href="/user/mypage") MyPage
                        li
                            a(href="/user/logout") Logout
                        li
                            a(href="/videos/upload") Upload Video

                    else
                        li
                            a(href="/search") Search Video
                        li
                            a(href="/login") LogIn
                        li
                            a(href="/join") Join
        main 
            block content
            
            br
            include partials/footer
            br

