extends base

block content 
    h2 Update Your Video Value
    form(method ="POST")
        input(value=video.title name="title", type="text", placeholder="Title", maxlength=80, required )
        input(value=video.description name="description", type="text", placeholder="Description", required , minlength=20)
        input(value=video.hashtags.join() name="hashtags", type="text", placeholder="Hashtags, seprated by , ", required )
        input(type="submit", value="Update Value")